<!--if no trips are associated -->
<section class="row" ng-if="fish.trips.length === 0">
  <article class="panel panel-info">
    <h1 class="text-center col-md-6 col-md-offset-3">{{fish.common_name}} has yet to be caught!</h1>
    <h2 class="text-center col-md-6 col-md-offset-3">Caught one? Record it in a <a href ng-click="newTrip()">trip</a>.</h2>
  </article>
</section>
<!--if fish has trips-->
<section class="row" ng-if="fish.trips.length > 0">
  <h1 class="text-center col-md-6 col-md-offset-3">Locations {{fish.common_name}} have been caught in:</h1>        
  <h1 class="text-center h2"></h1>
    <ul class="list-unstyled">
    <li ng-repeat="trip in fish.trips">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="viewTrip(trip.id)">{{trip.location}} ({{trip.city}}, {{trip.state}})</a></h1>
      </section>
    </li>
  </ul>
</section>
<div class='col-md-3'>
    <button ng-click="backToFish(fish.id)" class="btn btn-default">
      &larr; Back
    </button>
    <button ng-click="home()" class="btn btn-info">Home</button>
</div>