<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
  <flash-alert></flash-alert>
</aside>
<form name="form" class="form-horizontal" role="form" class="edit-fish">
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label 
      for="common_name" 
      class="col-md-2 control-label col-md-offset-2">
      Common Name
    </label>
    <div class="col-md-5">
      <input type="text" name="common_name" class="form-control" placeholder="e.g. Neon Tetra" ng-model="fish.common_name" required="required" autofocus>
    </div>
    <div ng-if="form.common_name.$touched && form.common_name.$error.required">
        Common name is required!
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label 
      for="species_name" 
      class="col-md-2 control-label col-md-offset-2">
      Species Name
    </label>
    <div class="col-md-5">
      <textarea name="species_name" class="form-control" ng-model='fish.species_name' placeholder="e.g. Gadus morhua" required="required" species>
      </textarea>
    </div>
    <div ng-messages="form.species_name.$error" ng-if="form.species_name.$touched">
        <div ng-message="species">Must be contain family and species in name.</div>
        <div ng-message="required">Species name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button class="btn btn-default" ng-click="cancel()"> Cancel</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" ng-click="save()"> Save </button>
    </div>
  </div>
</section>