<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
  <flash-alert></flash-alert>
</aside>
<form name="form" class="form-horizontal" role="form" class="edit-catch">
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="fishId" class="col-md-2 control-label col-md-offset-2"> Fish </label>
    <div class="col-md-5">
      <input type="text" name="fishId" class="form-control" placeholder="make this a drop down" ng-model="catchModel.fish_id" required="required" type="number">
    </div>
    <div ng-messages="form.fish_id.$error" ng-if="form.fish_id.$touched">
        <div ng-message="number">Must be a number.</div>
        <div ng-message="type">Fish ID number is required.</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="weight" class="col-md-2 control-label col-md-offset-2"> Weight </label>
    <div class="col-md-5">
      <input type="text" name="weight" class="form-control" placeholder="in grams" ng-model="catchModel.weight" required="required" type="number">
    </div>
    <div ng-messages="form.weight.$error" ng-if="form.weight.$touched">
        <div ng-message="number">Must be a number.</div>
        <div ng-message="type"> Weight is required.</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="length" class="col-md-2 control-label col-md-offset-2"> Length </label>
    <div class="col-md-5">
      <input type="length" name="state" class="form-control" placeholder="in centimeters" ng-model="catchModel.length" required="required" type="number">
    </div>
    <div ng-messages="form.length.$error" ng-if="form.length.$touched">
        <div ng-message="number">Must be a number.</div>
        <div ng-message="type"> Length is required.</div>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="tackle" class="col-md-2 control-label col-md-offset-2"> tackle (optional) </label>
    <div class="col-md-5">
      <input type="textarea" name="tackle" class="form-control" placeholder="e.g. carolina rig with baitcaster and 7 foot ugly stick" ng-model="catchModel.tackle">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label for="location" class="col-md-2 control-label col-md-offset-2"> Location (optional)</label>
    <div class="col-md-5">
      <input type="text" name="location" class="form-control" placeholder="e.g. under old willow tree" ng-model="catchModel.location">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button class="btn btn-default" ng-click="cancel()"> Cancel</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" ng-click="save()"> Save </button>
    </div>
  </div>
</section>