<aside class="flash row">
    <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offet-3 col-sm-12">
       {{flash.message}} 
    </article>
</aside>
<section class="row">
  <article class="panel panel-info">
      <h1 class="panel-heading"><a href ng-click="viewFish(catchModel.fish.id)">{{catchModel.fish.common_name}} ({{catchModel.fish.species_name}})</a></h1>
      <p class="panel-body">Length: {{catchModel.length}} cm Weight: {{catchModel.weight}} g</p>
      <p class="panel-body">Tackle: {{catchModel.tackle}}</p>
      <p class="panel-body">Location: {{catchModel.location}}</p>
      <button ng-click="trips(catchModel.fish.id)" class="bnt-info btn">Trips</button>
  </article>
</seciton>
<section class="row">
  <div class='col-md-3'>
    <button ng-click="back(catchModel.trip.id)" class="btn btn-default">
      &larr; Back
    </button>
  </div>
  <div class='col-md-9'>
    <button ng-click="edit(catch.id)" class="btn btn-info"> Edit </button>
    <button ng-click="delete()" class="btn btn-danger"> Delete </button>
  </div>  
</section>